---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
  (a, b) => (b.data.modified?.valueOf() ?? 0) - (a.data.modified?.valueOf() ?? 0)
);
---

<BaseLayout>
  <h1>posts</h1>
  <ul class="post-list">
    {posts.map((post) => (
      <li>
        <a href={`/posts/${post.slug}`}>
          <span class="post-title">{post.data.title}</span>
          {post.data.modified && (
            <time datetime={post.data.modified.toISOString()}>
              {post.data.modified.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}
            </time>
          )}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>
